<div class="container m-5">
  <h1>Stupid Coaching</h1>
  <div class="cardo">
    <%= @question %>
    <p>-You</p>
  </div>
  <div class="cardo" id="response">
    <%= @answer %>
    <p>-Your coach</p>
  </div>
  <a href="/ask" class="btn btn-secondary">Ask a new question</a>
</div>
