<div class="m-5">
  <form action="/answer" data-turbo="false" class="input-group mb-3">
    <input type="text" name="question" class="form-control" placeholder="Your question">
    <input type="submit" value="Ask!" class="btn btn-outline-secondary">
  </form>
</div>
